<h2>{{title}}</h2>
<div class="quiz-edit">
  <div>
    <label for="title">Quiz tittle</label>
    <br />
    <input type="text" id="title" [{ngModel}]="quiz.Title"
           placeholder="type title..." />
  </div>
  <div>
    <label for="description">Quiz description</label>
    <br />
    <input type="text" id="description" [{ngModel}]="quiz.Description"
           placeholder="type description..." />
  </div>
  <div>
    <label for="text">Additional information about quiz</label>
    <br />
    <textarea id="text" [{ngModel}]="quiz.Text"
      placeholder="type text..."></textarea>
  </div>
  <div>
    <input *ngIf="editMode" type="button" value="Save changes"
           (click)="onSubmit(quiz)" />
    <input *ngIf="!editMode" type="button" value="Create quiz"
           (click)="onSubmit(quiz)" />
    <input type="button" value="Cancel" (click)="onBack()" />
  </div>
</div>
